body {
    background: #f5f7fb;
    font-family: "Segoe UI", sans-serif;
}

.navbar-brand {
    font-weight: bold;
    font-size: 22px;
}

.hero {
    min-height: 90vh;
    display: flex;
    align-items: center;
}

.card-box {
    border-radius: 15px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.08);
    padding: 30px;
    background: white;
}

.role-btn {
    width: 220px;
    height: 120px;
    font-size: 20px;
    border-radius: 12px;
}

input,
textarea {
    border-radius: 10px !important;
}

button {
    border-radius: 10px !important;
}